body {
  font-family: sans-serif;
  background-color: darkslategray;
  background-image: url('../img/tree-roots.jpg');
  background-position: center;
  background-size: cover;
  color:khaki;
  line-height: 17px;
}
h1 {
  font-weight:700;
  color:lavender;
  font-size: 50px;
}
h2 {
  color:lavenderblush;
  text-decoration: underline;
  text-align: center;
}
h3 {
  color: lavenderblush;
}
a {
  color:lavenderblush;
  text-decoration: underline;
}
img {
  max-height: 300px;
  margin: 20px;
  opacity: 100%;
  border: solid black;
  border-width: 5px;
}
/* .box-1 {
  width: 40%;
  margin-left: 20px;
  padding: 50px;
  border: solid black;
  border-width: 20px;
  background-color:lightslategray;
  box-sizing: border-box;
  float: left;
  text-align: center;
} */
.col-6, .col-12 {
  border: solid black;
  border-width: 5px;
  background-color: lightslategray;
  margin: 5px;
  float: center;
  opacity: 95%;
  padding: 20px;
}

.highlight {
  color:blanchedalmond;
}
